<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>vue实践</title>
        <script src="./vue.js" type="text/javascript"></script>
        
        <!--在这里为div的class定义若干个类选择器，类选择器的定义格式是 .类名{...} -->
        <!--类选择器一般是当为某个标签定义了class=某一个类时，该类标签所共有的CSS样式-->
        <style type="text/css">
            .blue{
                color:blue;
                font-size: 1em;
            }
            .red{
                color: red;
                font-size: 3em;
            }
            .black{
                color: black;
                font-size: 4em;
            }
            .grey{
                color: grey;
                font-size: 5em;
            }
            .active{
                background: purple;
            }
        </style>
        <!--字体默认大小1em=16px,32px=2em，em是相对大小-->
    </head>


    <body>

        
        <div id="app-1">        
            {{message}}
            <br>
            <p>使用双大括号语法:{{rawHtml}}</p>
            <!--用这种方式，即便vue实例的属性中将rawHtml写成一句html句子，也只会打印出字符串，不会输出html语句-->
            
            <p>使用v-html来实现html语法句字输出:<span v-html="rawHtml"></span></p>
            <!--这种方式，需要将v-html作为一个标签的属性，在vue实例中将rawHtml写成html语句，DOM中的这个span标签中就会嵌套添加vue实例中的html语句的内容-->
            <br>
            <p v-html="rawHtml">改良(这句话相当于就没有了，DOM里不会体现)</p>
            <!--这就是用vue在DOM中绑定HTML语句的方法，以及绑定字符串、数字等基本数据的方法-->
        </div>

        <!--v-once属性：-->
        <!--在上面这个div中绑定了app.message，当该属性改变时，视图会随时发生变化。然而，若在div容器标签中添加属性v-once代表只插值一次，随后的更新将不会更改视图-->
        <!--div或者其他的容器如span都是可以的，但是注意，后台vue对象的数据是正常更改的，只是不再填充到视图当中，所以setTimeout函数和watch函数仍然会做出相应的操作-->



        <!--为html标签绑定属性 v-bind:属性名="" -->
        <!--这里以为div标签绑定class属性为例，绑定了类的具体属性后如何体现效果？定义了若干个css样式类选择器-->
        <!--比如某个需求是点击按钮，更换颜色，就可以通过为相应的标签动态绑定class的方式，定义好所针对的class有怎样的样式，随时动态的修改class即可-->
        <hr>
        <div id="app-2" v-bind:class="color">
            {{a+0.1}} &nbsp; {{b+0.0002}}
            <br>
            {{ques?trueAns:falseAns}}
            <br>
            {{funTest.split('').reverse().join('')}}

        </div>
        <hr>
        <!--vue数据绑定支持js的运算、三元运算{{变量/运算?'YES':'NO'}}、函数运算  -->

        <!--用vbind将div的class设置为color的值即blue，然后自定义css属性来指定这个class有怎样的样式(不能为div直接指定cloor)-->


        <!--v-if渲染指令：根据v-if的bool值来决定标签是否被渲染(是否能被看到)-->
        <div id="app-3">
            <p v-if="seen==='1'">seen=1</p>
            <p v-else-if="seen==='2'">seen=2</p>
            <p v-else>seen-not1-not2</p>
            <br>
            {{seen}}
        </div>
        <hr>


        <!--为DOM元素绑定鼠标点击事件@click-->
        <div id="app-4">
            <a v-bind:href="url" @click="click1">我的超链接</a>
        </div>


        <!--class与style样式绑定-->
        <!--也就是说class="{:}"当冒号后的bool为真的时候这个class才会被指定-->
        <div id="app-5">
            <div 
            v-bind:class="{active:isActive}"
            style="width: 200px;height: 200px;text-align: center;line-height: 200px;">
            hello vue
            {{isActive}}
            </div>
        </div>

        <div id="app-6" v-bind:style="{color:color,fontSize:size}">
            hello-app-6
        </div>


        <!--列表渲染(for item in items)-->
        <div id="app-7">
            <ul>
                <li v-for="item,index in items">
                   {{index}} &nbsp; {{item.message}} 
                </li>
                <li>{{name}}</li>
                <li>{{age}}</li>
                <li>{{sex}}</li>
            </ul>
            <hr>
            <ul>
                <li v-for="value,key in object">
                    {{key}} &nbsp; {{value}}
                </li>
            </ul>
        </div>
        <hr>

        <!--事件绑定-->
        <div id="app-8">
            <button v-on:click="count+=1">count的值:{{count}}</button>
            <br>
            <button v-on:click="funName">count2的值:{{count2}}</button>
        </div>





        <!--用户输入数据绑定,单行文本input-->
        <div id="app-9">
            <input v-model="message" placeholder="editme">
            <br>
            <p>Message is:{{message}}</p>
        </div>

        <!--用户输入数据绑定,多行文本textarea-->
        <div id="app-10">
            <textarea v-model="message" placeholder="pleace input"></textarea>
            <br>
            <p>Message is: {{message}}</p>
        </div>
        <hr>

        <!--同上，复选框checkbox,单选框radio(注意写标签属性的时候不要写逗号)-->
        <div id="app-11">
            <input type="checkbox" v-model="checkedNames" id="name1" value="name1value">
            <label for="name1">name1</label>
            <input type="checkbox" v-model="checkedNames" id="name2" value="name2value">
            <label for="name2">name2</label>
            <input type="checkbox" v-model="checkedNames" id="name3" value="name3value">
            <label for="name3">name3</label>
            <br>
            checkedNames: {{checkedNames}}
            <hr>
            <input type="radio" v-model="pickedNum" id="one" value=1>
            <label for="one">1</label>
            <input type="radio" v-model="pickedNum" id="two" value=2>
            <label for="two">2</label>
            <br>
            pickedNum: {{pickedNum}}
            <br>
            <button type="button" @click="submit">提交</button>
        </div>


        <!--Vue组件-->
        <div id="app-12">
            <buttoncounter></buttoncounter>
        </div>





        <script type="text/javascript">
            var app = new Vue({
                el: "#app-1",
                data: {
                    message:"hello-vue",
                    rawHtml: '<span style="color:red">红色文字</span>'
                }
            });

            //setTimeout(function(){
            //    app.message = "new-message-setTimeout";
            //},3000);//3kms即3s后将其改变

            app.$watch('message', function(newVal, oldVal){
                alert("newVal:" + newVal +";oldVal:" + oldVal);
            });

            /* 第二个vue实例化对象,下同 */
            var mydata = {a:123,b:2321, color:'red', ques:0, trueAns:"真的", falseAns:"假的",funTest:"abcdefghi"}
            var app2 = new Vue({
                el: "#app-2",
                data: mydata
            });

            var mydata3 = {seen:'3'}
            var app3 = new Vue({
                el:"#app-3",    //注意vue实例选择器不要忘记在id前面加#
                data:mydata3
            });


            var mydata4 = {
                url:"notebook.html"
            }
            var app4 = new Vue({
                el:"#app-4",
                data:mydata4,
                methods:{
                    click1:function(){
                        alert("click1事件函数");
                    }
                }
            });

            var app5 = new Vue({
                el:"#app-5",
                data:{
                    isActive:true
                }
            });

            var app6 = new Vue({
                el:"#app-6",
                data:{
                    color: '#dddddd',
                    size:'0.5em'
                }
            });

            var app7 = new Vue({
                el:"#app-7",
                data:{
                    items:[//items只是app7的一个变量，它是一个数组。用item in items可以遍历数组中的每一个对象
                        {message:"item1的message"}, //这是数组中的一个对象{},每个对象都有一个message属性，所以循环调用的时候item.message
                        {message:"item2的message"},
                        {message:"item3的message"},
                        {message:"item4的message"}
                    ],
                    name:"张三",
                    age:23,
                    sex:"female",
                    object:{        //这是实例化对象的data中的一个对象
                        width:100,
                        height:200,
                        hobby:"money",
                        detail:"other"
                    }
                }
            });


            var app8 = new Vue({
                el:"#app-8",
                data:{
                    count:0,
                    count2:100
                },
                methods:{
                    funName:function(){
                        this.count2 -= 1;           //注意，在vue实例中创建的方法要调用本身的data时要用this，否则找不到
                    }
                }
            });

            var app9 = new Vue({
                el:"#app-9",
                data:{
                    message:""
                }
            });


            var app10 = new Vue({
                el:"#app-10",
                data:{
                    message:""
                }
            });


            var app11 = new Vue({
                el:"#app-11",            //所有的vue实例都是通过元素的id值来进行绑定的
                data:{
                    checkedNames:[],     //注意，复选框的数据绑定是数组
                    pickedNum:""         //单选框可以对应一个标量
                },
                methods:{
                    submit:function(){
                        alert("在这里可以用this.pickedNum的方法获取所有data中的值");
                    }
                }
            });

            //创建一个button相关组件：参数1是组件名，参数二是一个对象，包含data函数和模板两个部分
            Vue.component('buttoncounter',{
                data:function(){
                    return{
                        count:0
                    }
                },
                template:'<button v-on:click="count++">按钮组件,点击了{{coun2t}}次</button>'
            })


        </script>

    </body>
</html>